if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-RYcUJaRMf8oF5LznDrlCXbkOQrywm0HDv1VjYGaJGdM="
fi

use flake .

# Add github token if available so the update script does not run into rate limiting issues
export GITHUB_TOKEN=$(sed -ne '/github_pat/s/.*github.com=\(github_pat_[_[:alnum:]]\+\).*/\1/p' ~/.config/nix/nix.conf)
